@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    @keyframes pulse-border {
        0% {
            box-shadow: 0 0 0 0 rgba(251, 146, 60, 0.7);
        }

        70% {
            box-shadow: 0 0 0 8px rgba(251, 146, 60, 0);
        }

        100% {
            box-shadow: 0 0 0 0 rgba(251, 146, 60, 0);
        }
    }

    .animate-pulse-border {
        animation: pulse-border 1.5s infinite;
    }
}

/* width */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #ffffff00;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
    cursor: pointer;
}